@model CI0126_ExamenFinal_B70866.Models.Customer
@{
    ViewBag.Title = "buyProducts";
}
<html>
<head>
    <script>
    function printMessage() {
        document.getElementById("message").innerHTML = "Productos Enviados";
    }
    </script>
</head>
<body>
    @using (Html.BeginForm("buyProducts", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="alert-success">
            <p id="message"></p>
        </div>
        <br />
        <h2 class="text-center"> Comprar Productos </h2>
        <br />
        <div class="form-horizontal">
            <div class="input-group-lg">
                @Html.TextBoxFor(model => model.address, new { @class = "form-control", @placeholder = "Ingrese la dirección adonde se enviarán los productos" })
                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
            </div>
            <br />
            <input type="submit" class="btn btn-lg btn-info" value="Comprar Productos" onclick="printMessage()"/>
        </div>
    }
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
</html>
