@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>El Mercadito Feliz</h1>
    <p class="lead">El Mercadito Feliz es una página web donde se pueden comprar productos. Contamos con gran variedad.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Añadir Productos</h2>
        <p>
            Puede añadir productos y convertirse en proveedor para nuestro sitio, siempre con los productos más frescos.
        </p>
    </div>
</div>